<section id="{{ .File.ContentBaseName | urlize }}" class="entry mb-2">

    {{ partial "icon.html" . }}

    <h3 id="{{ .Title | anchorize }}" class="entry-title">{{ .Title }}</h3>

    {{ .Content }}<br>
</section>