
<header id="header" class="p-fixed bg-gray">
    <div class="container grid-md">
        <div class="navbar">
            <section class="navbar-section">
                <div class="navbar-brand mt-2">
                    <a href="{{ "/" | relLangURL }}" id="logo" class="text-dark">
                        switching.software
                    </a>
                </div>
            </section>
            <section class="navbar-section">
                <div class="dropdown dropdown-right">
                    <a href="{{ "/about" | relLangURL }}" class="btn btn-link pt-2">{{ i18n "headerAbout" }}</a>
                    <a href="#" class="btn btn-link pt-2 dropdown-toggle" title="Languages" tabindex="0">
                        {{ upper .Site.Language }} <i class="icon icon-caret"></i>
                    </a>
                    <ul class="menu">
                        <li class="menu-item">
                            <a class="btn btn-link" href="https://swiso.de" title="German version" target="_blank" rel="noopener">
                                DE
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="btn btn-link" href="https://switching.geber.ga/" title="French version" target="_blank" rel="noopener">
                                FR
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="btn btn-link" href="https://switching.ml/" title="Italian version" target="_blank" rel="noopener">
                                IT
                            </a>
                        </li>

                        {{/* range .Translations }}
                            <li class="menu-item"><a class="btn btn-link" href="{{ .Permalink }}" title="{{ .Title }}">{{ upper .Lang }}</a></li>
                        {{ else }}
                            <li class="menu-item">No more :(</li>
                        {{ end */}}
                    </ul>
                </div>
            </section>
        </div>
    </div>
</header>